
  <div sidebar-left><app-side-menu></app-side-menu></div>
  <div main-content>
    <div class="carousel-container">
      <!-- Botón Izquierdo -->
      <button mat-icon-button color="primary" class="carousel-btn left" (click)="anterior()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    
      <!-- Contenedor de Productos -->
      <div class="carousel-inner">
        <mat-card class="product-card" *ngFor="let product of productosFiltrados.slice(inicio, inicio + itemsPorPagina)">
         
          <mat-card-content>
            <h3>{{ product.title }}</h3>
            <p><span class="label">Descripción:</span> {{ product.description | truncate }}</p> 
            <p><span class="label">Precio:</span> <app-status [data]="product.price"> </app-status></p>
            <p><span class="label">Categoría:</span> {{ product.category.name }}</p>
          </mat-card-content>
          <div class="card-actions">
            <button mat-button class="edit-btn" (click)="editarProducto(product)">
              Editar
            </button>
            <button mat-button class="delete-btn" (click)="eliminarProducto(product)">
              Eliminar
            </button>
          </div>
        </mat-card>
      </div>
    
      <!-- Botón Derecho -->
      <button mat-icon-button color="primary" class="carousel-btn right" (click)="siguiente()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    
    <!-- Barra de Búsqueda -->
    <div class="search-container">
      <input matInput type="text" [(ngModel)]="terminoBusqueda" placeholder="Buscar categoría..." />
      <button mat-raised-button color="accent" (click)="filtrarProductos(terminoBusqueda)">
        <mat-icon>search</mat-icon> Buscar
      </button>
    </div>
  </div>
