
  <div sidebar-left><app-side-menu></app-side-menu></div>
  <div main-content>
    <div class="carousel-container">
      <!-- Botón Izquierdo -->
      <button mat-icon-button color="primary" class="carousel-btn left" (click)="anterior()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    
      <!-- Contenedor de Productos -->
      <div class="carousel-inner">
        <mat-card class="product-card" *ngFor="let product of productosFiltrados.slice(inicio, inicio + itemsPorPagina)">
          <img mat-card-image [src]="product.images[0]" alt="{{ product.title }}">
          <mat-card-content>
            <h3>{{ product.title }}</h3>
            <p>Precio: ${{ product.description | truncate }}</p>
            <p>Categoría: {{ product.category.name }}</p>
            <p>{{ product.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    
      <!-- Botón Derecho -->
      <button mat-icon-button color="primary" class="carousel-btn right" (click)="siguiente()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    
    <!-- Barra de Búsqueda -->
    <div class="search-container">
      <input matInput type="text" [(ngModel)]="terminoBusqueda" placeholder="Buscar categoría..." />
      <button mat-raised-button color="accent" (click)="filtrarProductos(terminoBusqueda)">
        <mat-icon>search</mat-icon> Buscar
      </button>
    </div>
  </div>
