.loading-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.loading-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  border: solid 1px #ccc;
  background-color: #fff;
  border-radius: 6px;
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #3996DA;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
